# Maintenance Mode Configuration
# Set to 'true' to enable maintenance mode
# Set to 'false' or remove this line to disable maintenance mode
MAINTENANCE_MODE=false

# Other environment variables can be added here
# NEXT_PUBLIC_SUPABASE_URL=https://tgxohznrojzentuaghfv.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRneG9oem5yb2p6ZW50dWFnaGZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5MDcxNDQsImV4cCI6MjA5OTQ4MzE0NH0.kkNniiZh-LfVy3PmPsVOtramw4qzxEN4QrUjoT_HiZ0
NEXT_PUBLIC_SUPABASE_DB_PASSWORD='nspycOLwpTqZBrXD'
